.SplitView-left-component {
  box-shadow: 8px 0 24px rgba(4, 5, 6, 0.08), 4px 0 8px rgba(4, 5, 6, 0.05), 2px 0 2px rgba(4, 5, 6, 0.03);
  position: relative;
  height: 100vh;
  overflow: hidden;
  z-index: 3;

  .modal-body {
    height: 100vh;
    overflow-y: auto;
  }

  .modal-footer {
    background-color: rgba(var(--n000-rgb), 0.8);
    bottom: 0;
    position: absolute !important;
    width: 100% !important;
    z-index: 5 !important;
  }
}

.SplitView-right-component {
  position: absolute;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  z-index: 2;
  background-color: var(--fn-bg-var);
}