@import "./src/styles/spacings";

.gallery-summary-container {
    display: flex;
    align-items: center;
    position: relative;

    .gallery-summary-item {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: $x0_5;
        overflow: hidden;
        width: calc(2*$x9);
        height: calc(2*$x9);

        &:nth-child(1) {
            z-index: 1;
            position: relative;
            margin-right: 30px;
        }

        &:nth-child(2) {
            z-index: 2;
            left: $x2;
            top: $x0_25 + $x0_5;
            transform: rotate(4deg) scale(0.9);
        }

        &:nth-child(3) {
            z-index: 3;
            left: 28px;
            top: $x0_5;
            transform: rotate(12deg) scale(0.9*0.9);
        }

        .gallery-summary-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .gallery-summary-more {
        padding: $x1 $x1_5;
        background-color: var(--fn-bg-var);
        border-radius: 50%;
    }
}