@import '../../../styles/spacings';
@import '../../../styles/media-mixins';

.component-container {
  background-color: var(--n100);
  position: relative;
  height: 600px;
  width: 100%;
  overflow: hidden;

  @include media('<tablet') {
    padding: $x3 $x4;
    height: 100%;
  }
}