.container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
  padding: 0 16px;

  will-change: transform;
  transition: opacity 0.25s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.relative {
  position: relative;
}
