.rc-avatar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  //transition: 2500ms ease-in;
}

.rc-avatar-default {
  border-radius: 50%;
  box-sizing: border-box;
  padding: 8px 7.5px;
  width: 40px;
  height: 40px;
  border: 1px solid var(--n100);

  &:hover,
  &:active,
  &:focus,
  &:target {
    border-color: var(--p500);
  }
}

.grey-scale{
  filter: grayscale(1);
}
.no-hover {
  &:hover,
  &:active,
  &:focus,
  &:target {
    border-color: var(--n100) !important;
  }
}

.rc-avatar-name {
  @extend .rc-avatar-default;
}

.rc-avatar-image {
  @extend .rc-avatar-default;
  background-size: cover;
}

.rc-avatar-notification {
  position: absolute;
  top: 0;
  right: 0;
  width: 12px;
  height: 12px;
  background: #ff1f69; /* todo: replace with variable from semanticColors/nav/side/notif/bg after sideNav is merged into A23-98 */
  border-radius: 16px;
}

.avatarSvg {
  border-radius: 50%;
}
