.notif-content-placeholder{
  /* Auto Layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  padding: 16px;

  position: static;
  width: 100%;
  height: 76px;
  left: 76px;
  top: 16px;

  /* Accent 01/$a1-100 */

  background: #C9C3F3;
  opacity: 0.8;
  /* Accent 01/$a1-500 */

  border: 1px dashed #3C28CC;
  box-sizing: border-box;
  border-radius: 8px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
