@import "./src/styles/spacings";

.order-summary-container {
    background-color: var(--n100);
    border-radius: $x1;       
    padding: $x2 $x3;
    display: flex;
    flex-direction: column;
    gap: $x1;
    font-size: $x2;
    line-height: $x3;

    .order-summary-container-title {
        display: flex;
        justify-content: space-between;        
    }

    .order-summary-items {
        box-shadow: inset 0px -1px 0px var(--n200);
    }

    .order-summary-item {
        display: flex;
        justify-content: space-between;
        gap: $x4;
        .strike {
            text-decoration: line-through;
        }
        .total-sum {
            font-size: $x2_5;
        }
    }      

    .order-summary-item-voucher {
        display: flex;
        justify-content: space-between;
        color: var(--google-green-color);       
    }

    .inline-block {
        display: flex;
    }
}
