.container {
  .carousel-photo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    border-right: 1px solid var(--fn-bg-var);
    border-left: 1px solid var(--fn-bg-var);
    height: 100%;
    width: 100%;
    min-height: 500px;
    background-color: var(--n700);
  }
}
