.container {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.button {
  min-width: 22px;
  text-align: center;
  padding: 0;
  margin: 0;
  border-radius: 2px;
  cursor: pointer;
  background: transparent;
  color: var(--n500);
  transition: all 0.2s ease-in-out;
  font-weight: normal;

  &.disabled {
    color: var(--n200);
    pointer-events: none;
    cursor: not-allowed;
  }
  &.active {
    background: var(--n200);
  }
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  pointer-events: none;

  .toggleIcon {
    width: 16px;
    height: 16px;
  }
}

.divider {
  height: 20px;
  width: 1px;
  background-color: var(--n200);
}
