
.SlideCarouselContainer{
  width: 100%;
  height: 100%;
  .slide-carousel{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    min-height: 500px
  }
  .slide-carousel-slide {
    width: 101%;
    height: 101%;
    user-select: none;
  }
  .slide-carousel-arrow{
    top: 40%;
    position: absolute;
    z-index: 1;

    &.arrow-left{
      left:40px;
    }
    &.arrow-right{
      right:40px;
    }
  }

  .slide-carousel-bullets{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 15px 0;
  }
}

