@import 'src/styles/spacings';
@import 'src/styles/media-mixins';

.container {
  z-index: 9;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  background: white;
  box-shadow: 0px -8px 24px rgba(4, 5, 6, 0.08), 0px -4px 8px rgba(4, 5, 6, 0.05), 0px -2px 2px rgba(4, 5, 6, 0.03);
  padding: 16px 24px;
  border-radius: 8px 8px 0 0;

  transform: translateY(100%); // hidden outside of the screen by default
  transition: transform 500ms ease-in-out;
}