.container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  max-width: 400px;
  width: 100%;
  padding: 8px 12px;
  border-radius: 8px;
  min-height: 50px;
  background: var(--functional-bg-surface, #fff);
  border: 1px solid var(--ai, rgba(131, 119, 228, 0.25));
  box-shadow: 0px 16px 64px 0px rgba(4, 5, 6, 0.08), 0px 12px 20px 0px rgba(4, 5, 6, 0.05),
  0px 6px 8px 0px rgba(4, 5, 6, 0.03);
  transition: opacity 0.25s;
  will-change: transform;

  input {
    padding: 4px 8px !important;
  }

  a {
    color: var(--p500);
    text-decoration: none;
    transition: opacity 0.5s;

    :hover {
      color: var(--p700);
      text-decoration: none;
    }
  }

}

.row {
  display: flex;
  align-items: center;
  gap: 8px;
}

.link {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex: 1;
}

