@import "../../../styles/spacings";
@import '../../../styles/media-mixins';

.tab {
  font-size: $x2;

  // STYLES FOR HIGHTLIGHT THEME
  &.highlight {
    border-radius: $x1 !important;
    padding: $x1_75 $x2;
    flex-grow: 1;
    margin: 0 auto;

    &:hover {
      background-color: var(--n100);
    }

    &.selected {
      background-color: var(--p100);
    }
  }

  // STYLES FOR UNDERLINE THEME
  &.underline {
    padding: 0;
    border-bottom: 2px solid var(--n200);

    &:hover {
      .tab-label {
        background-color: var(--fn-bg-var);
      }
    }

    .tab-label {
      border-radius: $x1;
      padding: $x1 $x2 $x1 $x2;
    }

    &.selected {
      border-color: var(--p500);
    }
  }

}

.tabs-directory-icons {
  margin-left: $x0_5;

  .tabs-directory-icon {
    margin-left: -$x0_5;
  }

}