@use "@styles/ai_variables";

.grad {
  display: inline-flex;
  justify-content: center;

  border-radius: var(--ai-border-radius);

  z-index: 0;
  box-sizing: border-box;
  background: var(--fn-bg);
  position: relative;

  > :nth-child(1) {
    box-shadow: 0 0 0 var(--ai-border-size) var(--ai-stroke-color);
    border-radius: var(--ai-border-radius);
    box-sizing: border-box;
    border-width: 0;
  }

  &:before,
  &:after {
    position: absolute;
    content: "";
    width: calc(100% + calc(var(--ai-border-size-outside) * 2));
    height: calc(100% + calc(var(--ai-border-size-outside) * 2));
    top: calc(var(--ai-border-size-outside) * -1);
    left: calc(var(--ai-border-size-outside) * -1);
    background: var(--ai-background);
    background: linear-gradient(
      var(--ai-bg-angle),
      var(--ai-start-color) 0%,
      var(--ai-base-color) 22%,
      var(--ai-end-color) 33.3%,
      var(--ai-end-color) 49%,
      hsla(0, 0%, 100%, 1) 50%,
      var(--ai-start-color) 55%,
      var(--ai-base-color) 66%,
      var(--ai-base-color) 88%,
      var(--ai-end-color) 100%
    );

    border-radius: calc(var(--ai-border-radius) + var(--ai-border-size-outside));

    background-size: 300% 300%;
    animation:
      aiGradientAnimation 24s linear infinite,
      aiSpinAnimation 24s linear infinite;
  }

  &:after {
    filter: blur(1px);
    z-index: -1;
    mix-blend-mode: overlay;
    opacity: 0.4;
  }

  &:before {
    filter: blur(var(--ai-blur-width));
    z-index: -10;
  }
}
