.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  position: relative;
  max-width: 300px;

  &.disabled {
    cursor: not-allowed;
    opacity: 0.7;
    border-radius: 8px;
    pointer-events: none;
  }
  &:hover {
    .cardBg {
      max-width: 140px;
      max-height: 140px;
    }
  }
}

/**
 * Card
 * ---------------------------------------------------------------------------------------------------------------------
 */
.card {
  width: 100%;
  padding: 16px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  background-color: rgba(var(--n000-rgb), 0);
  flex-grow: 1;
  border-radius: 8px;
  min-width: 184px;

  .icon,
  .text {
    z-index: 1;
  }

  .link {
    opacity: 0;
    transition: opacity 250ms ease-in-out;
  }

  &:hover {
    background-color: rgba(var(--n000-rgb), 1);
    border: 1px solid var(--n200);

    .link {
      opacity: 1;
    }
  }
}

/**
 * CTA
 * ---------------------------------------------------------------------------------------------------------------------
 */
.ctaContainer {
  border-radius: 8px;
  overflow: hidden;
}

.cta {
  width: 100%;
  background: var(--n000) !important;
  justify-content: flex-start !important;

  &:hover {
    background: var(--p100) !important;
    color: var(--p500) !important;
  }
}

/**
 * Empty State
 * ---------------------------------------------------------------------------------------------------------------------
 */
.empty {
  .card {
    display: flex;
    flex-direction: column;
    background-color: rgba(var(--n000-rgb), 0.5);
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;

    &:hover {
      background-color: var(--p100);
      border-radius: 8px;
      border: none;
    }
  }
}

.cardBg {
  pointer-events: none;
  display: block;
  position: absolute;
  right: 16px;
  top: 16px;
  max-width: 100px;
  max-height: 100px;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
