.container {
  position: relative;
  display: inline;
  border-radius: 50%;
  padding: 2px;
  cursor: pointer;
  box-sizing: border-box;
  border: 2px solid var(--fn-bg);
  transition: 250ms ease-in-out;
  opacity: 0.5;
  width: fit-content;

  &.disabled {
    cursor: not-allowed;
  }

  &.hovered {
    opacity: 1;
  }

  &.checked {
    border: 2px solid var(--fn-bg-cta);
    opacity: 1;
  }

  .avatar {
    //position: absolute;
    top: 0;
    left: 0;
    flex: 1;
  }

  .checkbox {
    position: absolute;
    bottom: -6px;
    right: -1px;
    border-radius: 6px;
    border: 2px solid var(--fn-bg);
    display: flex;
  }
}