@import '../../../styles/spacings';
@import '../../../styles/media-mixins';

.header-middle-line-horizontal {
  position: relative;
  border-bottom: $x0_125 solid var(--n200);
  align-self: stretch;
  display: flex;
  justify-content: center;
}

.header-middle-button {
  padding-left: $x1;
  padding-top: $x1;
  padding-right: $x1;
  position: absolute;
  top: calc(50% - $x6 / 2);
  background: var(--n000);
}
