.menu {
  background: var(--n000);
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  padding: 8px;
  filter: drop-shadow(0px 12px 40px rgba(4, 5, 6, 0.025)) drop-shadow(0px 8px 14px rgba(4, 5, 6, 0.05))
    drop-shadow(0px 4px 4px rgba(4, 5, 6, 0.08));
  z-index: 1100;
}

.arrow {
  width: 0;
  height: 0;
  z-index: 1101;

  border-width: 12px 12px 0 12px;
  border-color: var(--n000) transparent transparent transparent;
  border-style: solid;
}

[data-popper-placement*="top"] {
  .arrow {
    bottom: -12px;
    filter: drop-shadow(0px 4px 2px rgba(4, 5, 6, 0.1));
    border-color: var(--n000) transparent transparent transparent;
    border-width: 12px 12px 0 12px;
  }
}

[data-popper-placement*="bottom"] {
  .arrow {
    top: -12px;
    filter: drop-shadow(0px -2px 4px rgba(4, 5, 6, 0.05));
    border-color: transparent transparent var(--n000) transparent;
    border-width: 0 12px 12px 12px;
  }
}

[data-popper-placement*="left"] {
  .arrow {
    filter: drop-shadow(4px 0 2px rgba(4, 5, 6, 0.05));
    border-color: transparent transparent transparent var(--n000);
    border-width: 12px 0 12px 12px;
    right: -12px;
  }
}

[data-popper-placement*="right"] {
  .arrow {
    filter: drop-shadow(-4px 0px 2px rgba(4, 5, 6, 0.05));
    border-color: transparent var(--n000) transparent transparent;
    border-width: 12px 12px 12px 0;
    left: -12px;
  }
}
