:root {
  --baseC: var(--p500);
  //--orb-size: 100%;
  //--atom-orb-size-small: calc(var(--orb-size) / 4);
  //--atom-orb-size-large: calc(var(--atom-orb-size-small) * 2);
  --atom-orb-rad-speed: 2s;
  --atom-orb-rotate-speed: 6s;
  --base-lighter: calc(l + 20);
}

.container{
  //width: 100px;
  //height:100px;
  //border:1px solid red;
  position: relative;
}


.inner-orb {
  --_baseC: var(--baseC);
  --_base-lighter: var(--lightness, calc(l + 20));

  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background: var(--_baseC);
  opacity: 0.8;
  mix-blend-mode: multiply;

  animation:
          atom-orb-rad var(--atom-orb-rad-speed) linear infinite,
          atom-orb-rotate var(--atom-orb-rotate-speed) linear infinite;

  //box-shadow: inset 0 0 30px 16px oklch(from var(--baseC) l c h / 100%);

  &::before, &::after{
    position:absolute;
    top: 2%;
    left: 2%;
    content: '';
    width: 96%;
    height: 96%;
    border-radius: 50%;
    animation: atom-orb-rad var(--atom-orb-rad-speed) linear infinite;
  }
  // &::before{
  //   background: radial-gradient(46.39% 82.56% at 29.73% 100%, oklch(from var(--_baseC) var(--_base-lighter) c h / 20%) 0%, oklch(from var(--_baseC) var(--_base-lighter) c h / 0%) 79.92%), radial-gradient(178.16% 119.3% at 49.83% 0%, oklch(from var(--_baseC) var(--_base-lighter) c h / 0%) 42.51%, oklch(from var(--_baseC) var(--_base-lighter) c h / 20%) 72.14%, oklch(from var(--_baseC) var(--_base-lighter) c h / 100%) 100%);
  //   filter: blur(calc(var(--orb-size) / 50));
  // }
  // &::after{
  //   background: radial-gradient(36.89% 30.33% at 79.67% 5%, oklch(from var(--_baseC) var(--_base-lighter) c h / 50%) 0%, oklch(from var(--_baseC) var(--_base-lighter) c h / 0%) 79.92%), radial-gradient(121.57% 142.01% at 92.17% -15.17%, oklch(from var(--_baseC) var(--_base-lighter) c h / 0%) 82.53%, oklch(from var(--_baseC) var(--_base-lighter) c h / 100%) 100%);
  // }
  &:nth-child(1) {
    --lightness: calc(l + 10);

  }

  &:nth-child(2) {
    --lightness: calc(l + 10);
    animation-delay: -1.8s;

    //mix-blend-mode: plus-lighter;

  }
}

@keyframes atom-orb-rad {
  0%, 100% {
    border-radius: 57% 43% 56% 44% / 47% 47% 53% 53% ;
  }
  25% {
    border-radius: 43% 57% 42% 58% / 35% 46% 54% 65% ;
  }
  50% {
    border-radius: 50% 80% 48% 52% / 44% 53% 47% 56% ;
  }
  75% {
    border-radius: 52% 48% 56% 44% / 55% 53% 47% 45% ;
  }
}
@keyframes atom-orb-rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes atom-orb-rotate-invers {
  to {
    transform: rotate(-360deg);
  }
}

