
.notif-action {
  /* Auto Layout */
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    background-color: var(--n100);
  }

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 16px;
  height: 48px;
  /* Neutral/$n000 */

  background: var(--n000);
  /* Divider/top */

  box-shadow: inset 0 1px 0 #E6E9F0;
  border-radius: 0 0 8px 8px;
  gap: 10px;
}

