@import "src/styles/spacings";
@import "src/styles/media-mixins";

.hoverable {
  &:hover {
    cursor: pointer;
    background-color: var(--n100);
    border-radius: 4px;
  }
}

.list-item-container {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: $x1_5;
  //background: var(--n000);
  z-index: 2;
  transition: 0.2s ease-in-out;

  &.border-highlighted {
    border-left: $x0_5 solid var(--w400);
  }

  &.clicked {
    padding: 12px 12px 12px 24px;
    background-color: var(--n100);
    border-radius: 4px;

    &:hover {
      background-color: var(--n200);
    }
  }

  &.sticky {
    position: sticky;
    top: 0;
    bottom: 0;
    overflow: auto;
  }

  .left {
    max-width: $x7 + $x0_5;
    flex: 1;

    .left_content {
      width: $x6;
      height: $x6;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: $x2_5;
      font-weight: 700;
      line-height: $x3 + $x0_5;
    }
  }

  .middle {
    flex: 1;
    max-width: calc(100% - (2 * ($x8 + $x0_125))); //130px
    &.hidden-left {
      //max-width: calc(100% - ($exa + $bytex)); //60px
      max-width: calc(100% - ($x7 + $x1_75)); //70px
      &.hidden-right {
        max-width: calc(100%);
      }
    }

    &.hidden-right {
      max-width: calc(100% - ($x6 + $x1_5)); //60px
      //max-width: calc(100% - ($zetta + $kilo)); //70px
      &.shown-left {
        max-width: calc(100%);
      }
    }

    .title-line {
      font-size: $x1_75;
      font-weight: 900;
      line-height: $x2;
    }

    .content-line {
      font-size: $x1_5;
      margin-left: -1 * $x1;
      line-height: $x2;
      margin-top: $x1;
    }

    .last-line {
      font-size: $x1_5;
      line-height: $x2;
    }
  }

  .right {
    max-width: $x7 + $x1_75;
    flex: 1;
    height: $x7 + $x1_75;

    img {
      max-width: $x7 + $x1_75;
      border-radius: $x0_5;
    }
  }
}

