@import "src/styles/media-mixins";
$marginVal : 0 0 0 10px;
.notif-body{
  display:flex;
  width: 100%;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  border-radius:8px;
  margin-bottom: 24px;
  background-color: var(--white);
  max-width: 750px;

  box-sizing: border-box;

  @include media('<tablet'){
    margin: 0 0 24px 24px;
    width: calc(100% - 48px);
  }
  @include media('<mobile'){
    margin: 0 0 24px 0;
    width : 100%;
    //width: calc(100% - 48px);
    //box-sizing: border-box;
  }
  &.own{
    border-top:3px solid var(--s500);
  }
  &.competitor{
    border-top:3px solid var(--w500);
  }
  .notif-header{
    padding:20px 20px 0 20px;
    box-sizing: border-box;
    .notif-top-container{
      display: flex;

      justify-content:space-between;
      width: 100%;
      .notif-left-container{
        display: flex;
        flex-direction:row;
      }
      .notif-right-container{
        display: flex;
        align-items: flex-start;
      }
      .notif-text{
        margin:$marginVal;
      }
      .notif-bottom-texts{
        display:flex;
        @include media('<mobile'){
          flex-direction: column;
          gap:5px;
          align-items:flex-start;
          justify-content:flex-start;
        }
      }
      .notif-title{
        margin-bottom:10px;
      }
      .notif-date{
        align-items: center;
        justify-content:center;
        display: flex;
      }
    }
    width:100%;
  }


}


/**

Content placeholder

*/

.notif-content-container{
  width: 80%;
  display:flex;
  flex-direction: column;
  min-height:80px;
  margin-left:10px;
  margin-top :32px;
  margin-bottom: 20px;
  @include media('<mobile'){
    //margin-left:30px;
    margin-top :16px;
    width: 85%;
  }

}
.notif-actions-container {
  min-height: 30px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
}