@use "./media-mixins" as *;
@use "./partials/align" as *;
@use "./partials/direction" as *;
@use "./partials/display" as *;
@use "./partials/flexOpts" as *;
@use "./partials/position" as *;
@use "./partials/position" as *;
@use "./partials/spacing" as *;
@use "./partials/cols" as *;
@use "./partials/sizes" as *;

:root {
  @each $spacer, $multiplier in $spacingMultiplier {
    --#{$spacer}: calc(#{$defaultSpacing} * #{$multiplier});
  }
}

// Generate non-responsive classes
@include alignClasses;
@include cols;
@include display;
@include flexDirection;
@include flexOpts;
@include offset;
@include positions;
@include spacing;
@include spacingWithPosition;
@include sizes;
@include spacingVerticalHorizontal;

// Generate responsive classes
@each $breakpoint, $breakpointValue in $breakpoints {
  @include media("<#{$breakpointValue}") {
    @include alignClasses($breakpoint);
    @include cols($breakpoint);
    @include display($breakpoint);
    @include flexDirection($breakpoint);
    @include flexOpts($breakpoint);
    @include offset($breakpoint);
    @include positions($breakpoint);
    @include spacing($breakpoint);
    @include spacingWithPosition($breakpoint);
    @include sizes($breakpoint);
    @include spacingVerticalHorizontal($breakpoint);
  }
}

.cursor-pointer {
  cursor: pointer;
}

.row {
  display: flex;
  flex-wrap: wrap;
}