@import "../../styles/spacings";

@mixin rgba-background($hexcolor, $opacity) {
  background-color: rgba(var($hexcolor), $opacity);
}

@mixin disabledState($name, $prefix : '-') {
  color: var(--#{$prefix}button-#{$name}-disabled-text-color);

  .button-text {
    color: var(--#{$prefix}button-#{$name}-disabled-text-color);
  }

  .button-icon svg path {
    fill: var(--#{$prefix}button-#{$name}-disabled-text-color);
  }
  
  @if (#{$name} == "default" or #{$name} == "secondary") {
    color: rgba(var(--#{$prefix}button-#{$name}-disabled-text-color-rgb), 0.5);
    .button-text {
      color: rgba(var(--#{$prefix}button-#{$name}-disabled-text-color-rgb), 0.5);
    }
  }

  @if (#{$name} != "muted" and #{$name} != "muted-inverted") {
    @include rgba-background(--#{$prefix}button-#{$name}-disabled-background-color-rgb, 0.5);
    
    border: $x0_125 solid var(--#{$prefix}button-#{$name}-disabled-border-color);
  }

  cursor: not-allowed;
}

@mixin focusState($name, $prefix : '-') {
  outline: none;
  color: var(--#{$prefix}button-#{$name}-hover-text-color);


  .button-text {
    color: var(--#{$prefix}button-#{$name}-hover-text-color);
  }

  background-color: var(--#{$prefix}button-#{$name}-hover-background-color);
  box-shadow: 0 0 0 2px var(--#{$prefix}button-#{$name}-focus-box-shadow-color);
  // THhs is intentional if the button has  --#{$prefix}button-#{$name}-border-color
  // it should overwrite in in the focus state
  border: 2px outside var(--#{$prefix}button-#{$name}-focus-box-shadow-color);
  border: $x0_125 solid var(--#{$prefix}button-#{$name}-border-color);
}


@mixin buttonProps($name, $prefix: '') {
  background-color: var(--#{$prefix}button-#{$name}-background-color);
  border: $x0_125 solid var(--#{$prefix}button-#{$name}-border-color);
  color: var(--#{$prefix}button-#{$name}-text-color);

  .button-text {
    color: var(--#{$prefix}button-#{$name}-text-color);
  }
  &:hover {
    color: var(--#{$prefix}button-#{$name}-hover-text-color);
    // Usually we set it to the normal state
    // If it has a hover set it to that
    border: $x0_125 solid var(--#{$prefix}button-#{$name}-border-color);
    border: $x0_125 solid var(--#{$prefix}button-#{$name}-hover-border-color);

    .button-text {
      color: var(--#{$prefix}button-#{$name}-hover-text-color);
    }

    background-color: var(--#{$prefix}button-#{$name}-hover-background-color);
  }

  .material-ink {
    @include rgba-background(--#{$prefix}button-#{$name}-ripple-color-rgb, 0.8);
  }

  &.disabled,
  &:disabled {
    @include disabledState($name, $prefix);
  }

  &:focus {
    @include focusState($name, $prefix);
  }

  &:active:not(:disabled):not(.disabled) {
    outline: none;
    box-shadow: none;
    @include focusState($name, $prefix);
  }
}
