.status-badge {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: fit-content;
  padding: 2px 12px 2px 2px;
  gap: 4px;
  border-radius: 32px;
  //background-color: var(--s100);
}

.status-badge-no-icon {
  @extend .status-badge;
  padding: 2px 12px 2px 12px;
}
.status-badge-none-icon {
  @extend .status-badge;
  padding: 2px 6px 2px 6px;
  height:16px
}


.status-badge-none-icon {
  @extend .status-badge;
  padding: 2px 6px 2px 6px;
  height: 16px
}


.is-blurred {
  filter: blur(15px);
}

.gradient {
  position: absolute;
  width: 110px;
  height: 20px;
  left: calc(50% - 110px / 2);
  top: 20px;
  background: var(--n000);
  //box-shadow: 0px -48px 56px rgba(100, 210, 76, 0.15), 0px -24px 48px rgba(100, 210, 76, 0.18), 0px -16px 24px rgba(100, 210, 76, 0.2);
  border-radius: 20px;
  z-index: 0;
}

.campaign-status-mask {
  position: absolute;
  height: 20px;
  left: 0px;
  right: 0px;
  top: 20px;
  background: var(--n000);
  z-index: 1;
}



.status-icon {
  min-width: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}


.mask {
  position: absolute;
  height: 20px;
  left: 0px;
  right: 0px;
  top: 20px;
  background: var(--n000);
  z-index: 1;
}


.mask2 {
  background-color: var(--n000);
  width: 100%;
  z-index: 2;
  text-align: center;
  padding-top: 8px;
}

.ml1 {
  margin-left: 8px;
}