@import '../../styles/spacings';
@import '../../styles/media-mixins';

.RadioButton {

  &-label {
    cursor: pointer;
    position: relative;
    display: block;
    align-items: center;
    margin: 0;
    padding-left: 28px !important;
    &.disabled {
      pointer-events: none;
      cursor: default;
    }
  }

  &-label-text {
    &:before {
      margin-top: $x0_5;
      background-color: var(--n000);
      border: $x0_25 solid var(--n400);
      border-radius: 50%;
      content: '';
      display: inline-block;
      height: $x2+$x0_25;
      left: 0;
      position: absolute;
      width: $x2+$x0_25;
      transition: border 100ms ease-out;
    }

    &.checked.disabled {
      &:before {
        border: $x0_5 + $x0_125 solid var(--n500);
      }
    }

    &.checked {
      &:before {
        border: $x0_5+$x0_125 solid var(--p500);
      }

      &:hover {
        &:before {
          border: $x0_5+$x0_125 solid var(--p700);
        }
      }
    }

    &.disabled {
      &:before {
        border: $x0_5+$x0_125 solid var(--n100);
      }
    }
  }

  &-label-text-success {
    min-height: 28px;
    &:before {
      margin-top: $x0_5;
      background-color: var(--n100);
      border: $x0_125 solid var(--n400);
      border-radius: 50%;
      content: '';
      display: inline-block;
      height: $x2+$x0_25;
      left: 0;
      top: calc(50% - 24px/2);
      position: absolute;
      width: $x2+$x0_25;
      transition: border 100ms ease-out;
    }

    &.checked {
      &:before {
        margin-top: 0px;
        position: absolute;
        width: $x3;
        height: $x3;
        top: calc(50% - 24px/2);
        background: rgba(var(--s500-rgb), 0.15);
        border-radius: 38px;
        border: 0px;
      }
      &:after{
        position: absolute;
        content: '';
        display: inline-block;
        height: $x2;
        top: calc(50% - 20px/2);
        left: $x1;
        width: $x1;
        transition: border 100ms ease-out;
        border-bottom: $x0_25 solid var(--s500);
        border-right: $x0_25 solid var(--s500);
        transform: rotate(45deg);
      }

      &:hover {
        &:before {
          cursor: pointer;
        }
      }
    }

    &.disabled {
      &:before {
        border: $x0_125 solid var(--fn-bg-var);
        background: var(--fn-bg-var);
      }
    }
  }

  // Theme
  &.bordered {
    border: $x0_125 solid var(--n400);
    border-radius: $x0_5;
    padding: $x1_5 $x2;
  }

  &.success {
    background-color: var(--fn-bg-var);
    border-radius: $x1;
    padding: $x2 $x2;
    border: $x0_125 solid transparent;
    @include media('<=mobile') {
      padding: $x1 $x1;
    }

    &:hover {
      border: $x0_125 solid var(--s400);
    }

    &.checked {
        border: $x0_125 solid var(--s500);
        background-color: var(--s100);
    }

    &.disabled {
      opacity: 60%;
      pointer-events: none;
    }
  }
}