.list-loader{
  margin-bottom: 20px;
  .animationLoading{
    background: #fff;
    border: 1px solid;
    border-color: #e5e6e9;
    border-radius: 3px;
    display: block;
    height: 100%;
    width: 100%;
    padding: 12px;
    min-height: 200px;
  }
  @keyframes animate {
    from {transition:none;}
    to {background-color:#f6f7f8;transition: all 0.3s ease-out;}
  }

  .avatar,.animated-line
  {
    position:relative;
    background-color: #CCC;
    height: 6px;
    animation-name: animate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .avatar{
    left:0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }

  #two{
    left:50px;
    top:-33px;
    width: 25%;
  }

  #Three{
    left:50px;
    top:-20px;
    width: 15%;
  }

  #four{
    left:0px;
    top:30px;
    width: 80%;
  }

  #five{
    left:0px;
    top:45px;
    width: 90%;
  }

  #six{
    left:0px;
    top:60px;
    width: 50%;
  }
}