.actions-container{
  //width: 80%;
  //display:flex;
  //flex-direction: column;
  //min-height:80px;
  //margin-left:10px;
  //margin-top :32px;
  //margin-bottom: 20px;
  //@include media('<mobile'){
  //  //margin-left:30px;
  //  margin-top :16px;
  //  width: 85%;
  //}

  display: flex;
  box-shadow: 0 1px 0 0 #E5E9F0 inset;
  padding:4px;
}

