.container {
  width: 300px;
  height: 344px;
  border-radius: 4px;
  background-color: var(--n000);
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  border: 1px solid var(--n000);
  cursor: pointer;

  &:hover {
    background-color: var(--p100);
    border: 1px solid var(--p300);

    .arrow {
      transform: translateX(5px);
    }
  }

  .textBox {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 24px 24px 24px;
    width: 100%;

    .arrow {
      transition: transform 0.3s ease-in-out;
      display: inline-block;
    }
  }
}