/**
 * Input (hidden)
 */
.vanguard-checkbox-input {
  position: absolute;
  left: 0;
  top: 0;
  //width: 20px;
  //height: 20px;
  margin: 0;
  padding: 0;
  opacity: 0;
  pointer-events: none;

  &.cb-size-small {
    width: 16px;
    height: 16px;
    //border:10px solid red;
  }

  &.cb-size-large {
    width: 20px;
    height: 20px;
  }
}

/**
 * Checkbox
 */
.vanguard-checkbox-container {
  position: relative;
  display: inline-flex;
  gap: 8px;
  cursor: pointer;
  align-items: center;

  .vanguard-checkbox-input-content {
    //padding-top: 2px;
    position: relative;


    //&:hover .checkbox-icon,
    //.checkbox-icon.show {
    //  opacity: 1;
    //}
  }

  .vanguard-checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid var(--n400);
    border-radius: 4px;
    box-sizing: border-box;
    transition: background-color 250ms, border-color 100ms;

    &.cb-size-small {
      width: 16px;
      height: 16px;
      //border:10px solid red;
    }

    &.cb-size-large {
      width: 20px;
      height: 20px;
    }
  }

  .vanguard-checkbox-label {
    display: flex;
    width: 100%;
  }

  // Hover state (unchecked)
  &:hover {
    .vanguard-checkbox {
      border: 2px solid var(--p500);
    }
  }

  &.hover-mode-check {
    &:hover {
      .vanguard-checkbox {
        border: 2px solid var(--n400);
      }
    }
  }

  // Disabled state
  &:disabled {
    .vanguard-checkbox {
      cursor: not-allowed;
      border: 2px solid var(--p300);
    }
  }

  // Focus state (unchecked)
  input[type='checkbox'] {
    &:focus ~ .vanguard-checkbox {
      border: 2px solid var(--p500);
    }
  }

  /**
   * STATE: Checked
   */
  &.vanguard-checkbox-checked {
    .vanguard-checkbox {
      background: var(--p500);
      border: 2px solid var(--p500);
    }

    // Hover state (checked)
    &:hover {
      .vanguard-checkbox {
        background: var(--p600);
        border: 2px solid var(--p600);
      }
    }

    // Focus state (checked)
    input[type='checkbox'] {
      &:focus ~ .vanguard-checkbox {
        background: var(--p600);
        border: 2px solid var(--p600);
      }
    }
  }

  /**
   * STATE: Disabled
   */
  &.vanguard-checkbox-disabled {
    cursor: not-allowed;
    opacity: 0.8;

    .vanguard-checkbox {
      border: 2px solid var(--n400);
    }
  }
}

/**
 * Label
 */
.vanguard-checkbox-label {
  user-select: none; // when clicking the label, it sometimes selects label's text
}