@import '../../styles/spacings';
@import '../../styles/media-mixins';

.Cropper-modal {
  .modal-content {
    padding: 16px 24px;
  }

  /**
   * HEADER
   * -------------------------------------------------------------------------------------------------------------------
   */
  .modal-header {
    padding: 0;
    display: flex;
    justify-content: space-between;
    text-align: start;

    .modal-header-close-btn {
      position: relative;
      top: unset;
      right: unset;
      left: unset;
      bottom: unset;
    }
  }

  /**
   * BODY
   * -------------------------------------------------------------------------------------------------------------------
   */
  .modal-body {
    padding: unset;

    /**
     * CROP AREA
     * -----------------------------------------------------------------------------------------------------------------
     */
    .CropperBase-hidden {
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
    }

    .CropperBase-container {
      min-height: 400px;
      max-width: calc(100vw - 32px);
      max-height: 60vh;

      .cropper-crop-box {

        position: relative;

        &:after {
          content: "";
          background: rgba(255, 255, 255, 0.1);
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: var(--rc-cropper-sidebar-width, 0);
          z-index: 2;
          border-right: var(--rc-cropper-border-width, 0) dashed var(--n000);
        }

        &:before {
          content: "";
          background: rgba(255, 255, 255, 0.1);
          position: absolute;
          right: 0;
          top: 0;
          height: 100%;
          width: var(--rc-cropper-sidebar-width, 0);
          z-index: 2;
          border-left:  var(--rc-cropper-border-width, 0) dashed var(--n000);


        }
      }

      .cropper-point {
        border: var(--n100) 2px solid;
        background-color: var(--p500);
        opacity: 1;
        width: 8px;
        height: 8px;

        &.point-n, &.point-s, &.point-e, &.point-w {
          display: none;
        }

        &.point-nw {
          width: 14px;
          height: 14px;
          left: -7px;
          top: -7px;
        }

        &.point-ne {
          width: 14px;
          height: 14px;
          right: -7px;
          top: -7px;
        }

        &.point-sw {
          width: 14px;
          height: 14px;
          left: -7px;
          bottom: -7px;
        }

        &.point-se {
          width: 14px;
          height: 14px;
          right: -7px;
          bottom: -7px;
        }
      }

      .cropper-view-box {
        box-shadow: 0 0 0 1px var(--n000);
        background: white;
      }

      .cropper-modal {
        background-color: var(--n900);
        opacity: 0.45;
      }
    }

    /**
     * SLIDER
     * -----------------------------------------------------------------------------------------------------------------
     */
    .Cropper-slider-container {
      display: flex;
      justify-content: center;

      .Cropper-slider {
        position: absolute;
        margin-top: -32px;
        width: 396px;
        max-width: 80%;

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;

        button {
          background: var(--n000);
        }
      }
    }
  }

  /**
   * FOOTER
   * -------------------------------------------------------------------------------------------------------------------
   */
  .modal-footer {
    padding: 0;

    .Cropper-footer-action-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 16px;
      cursor: pointer;

      .Cropper-footer-info-details {
        display: flex;
        align-items: center;
        gap: 8px;
      }

      .action-buttons {
        display: flex;
        gap: 8px;
      }
    }

    // MOBILE
    @include media('<mobile') {
      .Cropper-footer-action-container {
        flex-direction: column-reverse;

        .action-buttons {
          width: 100%;
          flex-direction: column-reverse;

          .Button-container {
            width: 100%;

            button {
              width: 100%;
            }
          }
        }
      }
    }
  }

  /**
   * -------------------------------------------------------------------------------------------------------------------
   * FULLSCREEN
   * -------------------------------------------------------------------------------------------------------------------
   */
  &.modal-fullscreen {
    .modal-content {
      .modal-body {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}
