@import '../../../styles/spacings';
@import '../../../styles/media-mixins';

.modal-body {
  padding: 0 32px;
}

/**
 * FULLSCREEN MODAL
 * ---------------------------------------------------------------------------------------------------------------------
 */
.modal-fullscreen {
  .modal-body {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 150px; // height of footer is ±92px
    width: 100%;

    align-self: center;

    @include media('<tablet') {
      padding-bottom: 200px; // height of footer is ±148px
    }
  }
}