.autocomplete-content{
  z-index: 50;
  background-color: white;
  box-shadow: 0px 12px 40px rgba(4, 5, 6, 0.08), 0px 8px 14px rgba(4, 5, 6, 0.05), 0px 4px 4px rgba(4, 5, 6, 0.03);
  border-radius: 4px;
  max-height: 222px;
}

