@import "../../../../styles/spacings";
@import "../../../../styles/media-mixins";

.container {
  @include media('>=tablet') {
    max-width: 440px;
    position: absolute;
    left: $x3;
    top: $x2;
    bottom: $x2;
    background: white;
    height: calc(100% - ($x6 - $x1));

    padding: $x3 $x4;
    overflow: hidden;
    word-break: break-word;
    box-shadow: 0 $x2 $x8 rgba(4, 5, 6, 0.03), 0px $x1_5 $x2_5 rgba(4, 5, 6, 0.05), 0px $x1 $x1 rgba(4, 5, 6, 0.08);
    border-radius: $x1;
  }
}

.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: $x1;
}


.itemsList {
  max-height: 100%;
  overflow-y: hidden;
  position: relative;

  @include media('<tablet') {
    max-height: 400px;
    padding-bottom: $x7 + $x8;
    overflow-y: auto;
  }
}

.own {
  /* Auto layout */
  --size: 8px;
  --R: calc(var(--size) * 1.28);

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24px 44px;
  height: 119px;
  background: var(--n100);
}

.own-stuck-top {
  /* Auto layout */
  --size: 8px;
  --R: calc(var(--size) * 1.28);

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24px 44px;
  height: 119px;
  background: var(--n100);
  -webkit-mask: radial-gradient(var(--R) at 50% calc(100% - calc(1.8 * var(--size))), #000 99%, #0000 101%) calc(50% - 2 * var(--size)) 0/calc(4*var(--size)) 100%,
  radial-gradient(var(--R) at 50% calc(100% + calc(.8 * var(--size))), #0000 99%, #000 101%) 50% calc(100% - var(--size))/calc(4*var(--size)) 100% repeat-x;
}

.own-stuck-bottom {
  /* Auto layout */
  --size: 8px;
  --R: calc(var(--size) * 1.28);

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24px 44px;
  height: 119px;
  background: var(--n100);
  -webkit-mask: radial-gradient(var(--R) at 50% calc(1.8 * var(--size)), #000 99%, #0000 101%) calc(50% - 2 * var(--size)) 0/calc(4*var(--size)) 100%,
  radial-gradient(var(--R) at 50% calc(-.8 * var(--size)), #0000 99%, #000 101%) 50% var(--size)/calc(4*var(--size)) 100% repeat-x;
}

.left_content {
  width: $x6;
  height: $x6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $x2_5;
  font-weight: 700;
  line-height: $x3 + $x0_5;
}

.left_content_circle {
  background-color: var(--n200);
  border-radius: 50%;
}
