.video-js {
  font-size: 10px;
  color: var(--n000);

  .vjs-default-skin .vjs-big-play-button {

  }

  .vjs-control-bar,
  .vjs-big-play-button,
  .vjs-menu-button .vjs-menu-content {
    //background-color: rgba(0, 170, 255, 0.7);
    background-color: var(--fn-bg);
    color: var(--fn-fg);

  }

  .vjs-slider {
    //background-color: rgba(168, 226, 255, 0.5);
    background-color: rgba(var(--p200-rgb), 0.5);

  }

  .vjs-volume-level,
  .vjs-play-progress,
  .vjs-slider-bar {
    background: var(--n000);
  }

  .vjs-load-progress {
    //background: rgba(168, 226, 255, 0.5);
    background-color: rgba(var(--p200-rgb), 0.5);


    div {
      //background: rgba(168, 226, 255, 0.75);
      background-color: rgba(var(--p300-rgb), 0.75);

    }
  }
}
