
.ArrowContainer{
  .SlideCarouselArrow{
    background: rgba(var(--n000-rgb), 0.5);
    border-radius: 50%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding-top: 2px;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
    font-weight: 700;
    color: var(--n700);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 300ms linear;
    user-select: none;

    &:hover{
      background: rgba(var(--n000-rgb), 0.7);
    }
  }
}
