@import '../../../styles/media-mixins';
@import '../../../styles/spacings';

.incentiveContainer {
  display: flex;
  flex-direction: row;
  padding: 8px 4px;
  gap: 16px;
}

.icon {
  padding: 8px !important;
}

.textAndCta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
}