.loading-img {
  max-height: 256px;
  max-width: 256px;

  &.rocket {
    transform: rotateY(0deg) rotate(45deg);
  }
}

.modal {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.imgContainer {
  min-height: 200px;
  min-width: 200px;
  text-align: center;
  margin-bottom: 36px;
}
