@import './src/styles/spacings';
@import './src/styles/media-mixins';

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: $x1;
  position: relative;
  pointer-events: none;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  background-color: var(--n000);
  flex-grow: 1;

  align-items: flex-start;
  border: 1px solid var(--accent1-100);
  box-shadow: 0px 0px 0px 3px rgba(232, 229, 250, 0.25);
  border-radius: $x3;
  overflow: hidden;

  @media (max-width: 1300px) {
    display: flex;
    flex-direction: row;
    width: 100%;

    :first-child {
      width: 50%;
    }
  }

  @include media('<mobile') {
    display: flex;
    flex-direction: column;

    :first-child {
      width: 100%;
    }
  }

  .statusBadge {
    width: fit-content;
  }
}