@import '../../../styles/spacings';
@import '../../../styles/media-mixins';

.modal {
  .body {
    padding-top: 16px;
    padding-left: 32px;
    padding-right: 32px;

    > div {
      padding: 16px 32px;
      @include media('<tablet') {
        padding: unset;
      }
    }
  }
}

.header-text {
  width: 100%;
  text-align: center;
}