@import '../../styles/spacings';
/**
 * Variables
 */
:root {
  --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-large: 0px 12px 40px rgba(4, 5, 6, 0.0239911), 0px 8px 14px rgba(4, 5, 6, 0.05), 0px 4px 4px rgba(4, 5, 6, 0.08);
}

/**
 * Modal container
 * ---------------------------------------------------------------------------------------------------------------------
 */
.rc-modal {
  position: fixed;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;

  display: flex;

  padding: 100px 16px;

  /**
   * Modal Content
   * ---------------------------------------------------------------------------------------------------------------------
   */
  .modal-content {
    max-width: 100vw;
    height: max-content;

    outline: none;
    border: none;

    border-radius: 8px;
    background: var(--n000);
    box-shadow: var(--shadow-large);

    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  /**
   * Modal Position
   * ---------------------------------------------------------------------------------------------------------------------
   */
  &.modal-position-top {
    justify-content: center;
  }
  &.modal-position-bottom {
    padding: 0 $x1;
    align-items: end;
    justify-content: end;

    .modal-header {
      padding: $x2_5 0 $x1_5 0;
    }
    .modal-body {
      padding: 0 $x2_5 $x4 $x2_5;
    }

    .modal-content {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      background: var(--n000);
      box-shadow: var(--shadow-large);
    }
  }

  &.modal-position-center {
    justify-content: center;
    align-items: center;

    .modal-content {
      margin: auto; // a fix for scrolling issue with flex
    }
  }

  /**
   * FULLSCREEN MODAL
   * ---------------------------------------------------------------------------------------------------------------------
   */
  &.modal-fullscreen {
    padding: 0;

    .modal-content {
      border-radius: 0;

      width: 100vw;
      height: 100vh;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}