.MuiAccordion-root.Accordion {
  &-container {
    border: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;

    &.Accordion-reverse {
      flex-direction: column-reverse;
    }

    &::before {
      background-color: var(--n000);
    }

    .MuiAccordionSummary-root {
      justify-content: flex-start;
      padding: 0;

      &.AccordionSummary-hide {
        display: none;
      }

      .MuiAccordionSummary-content {
        align-items: flex-start;
        flex-grow: 0;
      }
    }

    .MuiAccordionDetails-root {
      padding: 0;
    }
  }

  &-icon {
    margin-left: 5px;
  }
}