@import '../../../styles/media-mixins';

.container {
  display: flex;
  align-items: center;

  @include media('<tablet') {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}