@import 'src/styles/spacings';

.input {
  font-size: $x1_75 + $x2;
  background-color: var(--fn-bg-var);
  border: $x0_125 solid var(--n300);
  border-radius: $x1;

  color: var(--fn-fg);

  &:focus-visible {
    outline: none;
  }
  &.error {
    border-color: var(--e500);
  }
}