@import "./src/styles/spacings";
@import './src/styles/media-mixins';

.display-none-mobile {
    @include media ('<=mobile') {
        display: none;
    }
}

.category {
    padding-bottom: $x2;
    font-style: italic;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: $x2;
    align-items: center;

    @include media ('<=tablet') {
        flex-direction: row-reverse;
        align-items: start;
    }

    @include media ('<=mobile') {
        flex-direction: column-reverse;
        align-items: start;
    }
}

.white-background {
    background-color: var(--n000);
}

.component-container {
    background-color: var(--n100);
    position: relative;
    height: 4 * $x9;
    width: 100%;
    overflow: hidden;

    @include media ('<=mobile') {
        width: 100%;
        height: 100%;
    }
}