.barChart-container {
  position: relative;

  .barChart-header {
    position: absolute;
    top: 0;
  }
}

.totalValue {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: var(--n500);
  margin-left: 15px;
}

.tooltip {
  background: var(--n800);
  box-shadow: 0 8px 24px rgba(4, 5, 6, 0.08), 0 4px 8px rgba(4, 5, 6, 0.05), 0 2px 2px rgba(4, 5, 6, 0.03);
  border-radius: 4px;
  padding: 8px 16px;
  color: var(--n900);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  &.custom-tooltip {
    color: var(--n000);
    font-weight: 500;
    text-align: center;
  }

  .tooltip-row {
    display: flex;

    .tooltip-color {
      width: 12px;
      height: 12px;
      border-radius: 12px;
      margin-right: 4px;
    }

    .tooltip-number {
      color: var(--n000);
      font-weight: 500;
      margin-left: 4px;
    }
    .tooltip-text {
      color: var(--n000);
      margin-left: 4px;
    }
  }
}

