@import 'src/styles/spacings';
@import 'src/styles/media-mixins';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 45px;

  @include media('<tablet') {
    text-align: center;
    flex-direction: column;
    gap: 16px;
  }
}

.infoBox {
  display: flex;
  gap: 8px;

  @include media('<tablet') {
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}